@charset "utf-8";

body {
	background-color: aqua;
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	margin: 0;
	width: 100%;
	display: block;
	overflow: hidden;
}

img#headerImage {
	width: 100%;
}

/* =============================================
	Nav
   =============================================
*/

nav {
	width: 100%;
	display: table;
	float: none;
}

nav ul {
	display: table-row;
	list-style: none;
}

nav ul li {
	display: table-cell;
	width: 25%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	border: thin solid rgba(0, 0, 0, 1);
}

nav ul li a {
	text-decoration: none;
	font: normal small-caps bold 1em/1em QuickSand, Verdana, Geneva, sans-serif;
	color: black;
}

/* =============================================
	Main
   =============================================
*/

/* General */
h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

/* Main content */
#welcome_body {
	margin: 0;
	display: block;
	position: relative;
}

.main_body {
	margin: 0;
	width: 100%;
	display: block;
	position: relative;
}

.main_background {
	width: 100%;
}

.main_content {
	position: absolute;
	width: 100%;
	height: 100%;
}

div#welcome {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	left: 20%;
	top: 10%;
	width: 60%;
	height: 80%;
}

div#welcome_text {
	font: normal small-caps bold 3em/2em QuickSand, Verdana, Geneva, sans-serif;
	color: black;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 10%;
	top: 25%;
	width: 80%;
	height: 50%;
}

/* Team */
#instructor_list_container {
	position: absolute;
	list-style: none;
	color: black;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.6);
	width: 40%;
	left: 30%;
	height: 65%;
	top: 17%;
}

#instructor_list_container > ul{
	list-style: none;
	padding-left: 0;
}

/* Weight Loss */
#about_weight_loss {
	position: absolute;
	list-style: none;
	color: black;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.6);
	width: 40%;
	left: 30%;
	height: 65%;
	top: 17%;
}

#about_weight_loss h1 {
	margin-bottom: 10px;
}

#about_weight_loss dd {
	list-style: none;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	padding-bottom: 40px;
}

#about_weight_loss dt {
	list-style: none;
	font-size: 1.5em;
}

/* Weight Loss */
#about_strength_loss {
	position: absolute;
	list-style: none;
	color: black;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255, 255, 255, 0.6);
	width: 40%;
	left: 30%;
	height: 70%;
	top: 15%;
}

#about_strength_loss h1 {
	margin-bottom: 10px;
}

#about_strength_loss dd {
	list-style: none;
	margin-inline-start: 40px;
	margin-inline-end: 40px;
	padding-bottom: 40px;
}

#about_strength_loss dt {
	list-style: none;
	font-size: 1.5em;
}


/* =============================================
	Footer
   =============================================
*/

footer {
	vertical-align: middle;
}

footer address{
	height: 2em;
	text-align: center;
	color: white;
	background-color: black;
	font: normal small-caps bold .9em/1em QuickSand, Verdana, Geneva, sans-serif;
}

footer address a {
	color: white;
	text-decoration: none;
}