/*
	Author: Nguyen Nguyen
	Student ID: 300298479
   
	Filename: Main.css
*/

@charset "utf-8";
@font-face {
    font-family: Quicksand;
    src:url(Quicksand-Regular.woff) format('woff'),
        url(Quicksand-Regular.ttf) format('ttf')
}

html {
	height: 100%;
	font-family: QuickSand, Verdana, Geneva, sans-serif;
}

body {
	max-width: 1340px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/* Header */
#header_col {
	background-image: url(Banner.jpg);
}

#header_text {
	color: white;
	text-align: center;
}

/* Layout */
div.container {
	height: 100%;
}

div.row {
    clear: both;
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"] {
    float: left;
}

div.col-1-1 { width: 100% }
div.col-1-4 { width: 25% }
div.col-3-4 { width: 75% }

#calendar_row, #weekly_schedule_container {
	height: 80%;
}

div.row3 {
	height: 30px;
}

div.month_calendar_container {
	padding-right: 10px;
	padding-top: 10px;
	box-sizing: border-box;
}

div.month_calendar_container {
	padding-right: 10px;
	padding-top: 10px;
	box-sizing: border-box;
}

div#weekly_schedule_container {
	padding-top: 10px;
	box-sizing: border-box;
}

/* Month calendar table */
table.month_calendar {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

table.month_calendar th, table.month_calendar td {
	border: 1px solid black;
}

table.month_calendar tr{
	height: 45px;
}

table caption {
	text-align: right;
	color: white;
	caption-side: bottom;
	background: black;
	padding-right: 5px;
}

tr.even_row th {
	background: rgb(218, 210, 218);
}

/* Weekly Schedule table */
table.weekly_schedule {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	text-align: center;
}

table.weekly_schedule th, table.weekly_schedule td {
	border: 1px solid black;
}

table.weekly_schedule thead tr {
	height: 50px;
}

table.weekly_schedule tbody tr {
	height: 57px;
}

table.weekly_schedule th {
	font-size: larger;
	font-weight: bold;
	color:white;
	background: gray;
}

col#daily_time {
	width: 15%;
}

col.weekly_days {
	width: 16%;
}

/* Footer */
footer {
	background: black;
	padding: 10px;
	text-align: center;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
}